<template>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col">
        <router-link to="/news">
          <div class="container">
            <div class="row justify-content-md-center">
              <img src="news.jpg" alt="Tutorials"/>
            </div>
            <div class="row justify-content-md-center">
              NEWS
            </div>
          </div>
        </router-link> 
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col">
        <router-link to="/tutorials">
          <div class="container">
            <div class="row justify-content-md-center">
              <img src="tutorials.jpg" alt="Tutorials"/>
            </div>
            <div class="row justify-content-md-center">
              Tutorials
            </div>
          </div>
        </router-link> 
      </div>
      <div class="col">
        <router-link to="/users">
          <div class="container">
            <div class="row justify-content-md-center">
              <img src="users.jpg" alt="Users"/>
            </div>
            <div class="row justify-content-md-center">
              Users
            </div>
          </div>
        </router-link> 
      </div>
    </div> 
    <div class="row justify-content-around">
      <div class="col">
        <router-link to="/marketplace">
          <div class="row justify-content-md-center">
            <img src="donate.png" alt="Donate"/>
          </div>
          <div class="row justify-content-md-center">
            MarketPlace
          </div>
        </router-link> 
      </div>
    </div>
  </div>
</template>
